div
  width: 270px
  height: 500px
  margin: 10px 15px 45px 10px
  border-radius: 10px
  overflow: hidden
  background-color: var(--gris-sombra)
  font-size: 15px
  border-right: 1px solid var(--azul-helado)
  border-bottom: 1px solid var(--azul-helado)
  border-left: 1px solid var(--azul-helado)
  img
    cursor: pointer
    border-top: 1px solid var(--azul-helado)
    border-bottom: 1px solid var(--azul-helado)
  div
    margin: 0
    padding: 0 6px
    display: flex
    align-items: center
    justify-content: space-between
    border: none
    height: 90px

span.titulo-pelicula
  margin: 0 4px 0 8px
  line-height: 1.2

span.detalles-pelicula
  background-color: var(--negro-jet)
  border-radius: 10px
  padding: 4px 8px
  flex-shrink: 0
  margin: 4px 2px
  border: 1px solid var(--azul-helado)
  display: inline-flex
  align-items: center
  justify-content: center
  height: 32px

button
  background-color: var(--negro-jet)
  border-radius: 10px
  padding: 4px 8px
  min-width: 32px
  height: 32px
  flex-shrink: 0
  margin: 4px 2px
  border: 1px solid var(--azul-helado)
  cursor: pointer
  display: inline-flex
  align-items: center
  justify-content: center
  font-size: 15px
  line-height: 1