div
  width: 270px
  height: 500px
  margin: 10px 15px 45px 10px
  border-radius: 10px
  overflow: hidden
  background-color: var(--gris-sombra)
  font-size: 15px
  img
    cursor: pointer
  div
    margin: 0
    display: flex
    align-items: baseline
    justify-content: space-between

span.titulo-pelicula
  margin: 15px 5px 5px 11px

span.detalles-pelicula
  background-color: var(--negro-jet)
  border-radius: 10px
  padding: 5px
  flex-shrink: 0
  margin: 6px
  border: 1px solid var(--azul-helado)