div
  position: fixed
  top: 90px
  right: 20px
  z-index: 1000
  background-color: var(--gris-sombra)
  padding: 12px 20px
  border-radius: 10px
  display: flex
  align-items: center
  &.error
    border: 2px solid red
  &.exito
    border: 2px solid greenyellow
  span
    font-size: 14px