section
  background-color: var(--gris-sombra)
  border: 1px solid var(--azul-helado)
  border-radius: 10px
  padding: 5px
  display: flex
  flex-direction: column
  align-items: center
  h2
    margin: 10px
  ul
    display: flex
    flex-direction: column
    padding: 0
    margin: 0
    width: 520px
    label
      display: flex
      justify-content: space-between
      align-items: baseline
      background-color: var(--gris-sombra)
      border: 1px solid var(--azul-helado)
      border-radius: 5px
      padding: 5px
      margin: 4px 8px
      li
        list-style: none
        width: 238px
        padding: 5px
        background-color: var(--negro-jet)
        border-radius: 5px