div.detalles-personales
  display: flex
  justify-content: center

div.boton
  display: flex
  justify-content: center
  button
    background-color: var(--negro-jet)
    border: none
    border-radius: 5px
    margin: 10px
    padding: 5px
    cursor: pointer