div.perfil
  display: flex
  flex-direction: column
  gap: 20px

div.seccion-perfil
  display: flex
  justify-content: center

div.boton
  display: flex
  justify-content: center
  button
    background-color: var(--negro-jet)
    border: 1px solid var(--azul-helado)
    border-radius: 5px
    margin-bottom: 15px
    padding: 10px
    cursor: pointer