<ng-template #plantillaPeliculas>
  <div class="plantilla-peliculas">
    @for (pelicula of peliculasDisponibles(); track pelicula.id) {
      <div class="pelicula">
        <img width="140" height="195" ngSrc="{{ pelicula.imagen }}" alt="Póster de una película">
        <span>Título: {{  pelicula.titulo }}</span>
        <span class="duracion">Duración: {{ pelicula.duracion | duracion }}</span>
        <button (click)="cambiarEstadoPelicula(!pelicula.principal, pelicula.id)">
          ¿Principal?
          @if (pelicula.principal) {<i class="fa-solid fa-check"></i>}
          @else {<i class="fa-solid fa-xmark"></i>}
        </button>
      </div>
    }
  </div>
</ng-template>
<ng-template #plantillaFunciones>
  <div class="plantilla-funciones">
    @for (pelicula of peliculasDisponibles(); track pelicula.id) {
      <div class="funcion">
        <div class="poster">
          <span>{{ pelicula.titulo }}</span>
          <img width="140" height="195" ngSrc="{{ pelicula.imagen }}" alt="Póster de una película">
        </div>
        <div class="contenedor-horarios">
          <div class="cabecera-horarios">
            @if (obtenerFuncionesPelicula(pelicula.id).length === 0) {<span>No hay funciones programadas aún</span>}
            @else {<span>Fechas y Horarios</span>}
            <button (click)="seleccionarPlantilla(plantillaCrearFuncion); seleccionarPelicula(pelicula)"><i class="fa-solid fa-plus"></i></button>
          </div>
          <div class="horarios-funcion">
            @for (funcion of obtenerFuncionesPelicula(pelicula.id); track funcion.id) {
              <div class="detalles-funcion">
                <span>{{ funcion.fecha_hora | date: 'EEE d' | titlecase }} {{ funcion.fecha_hora | date: 'shortTime' }}</span>
                <span>{{ funcion.formato }} - {{ funcion.idioma }}</span>
                <span>Sala {{ funcion.sala_id }}</span>
              </div>
            }
          </div>
        </div>
      </div>
    }
  </div>
</ng-template>
<ng-template #plantillaCrearFuncion>
  <div class="plantilla-crear-funcion">
    <div class="titulo">Registrar una nueva función para {{  peliculaSeleccionada()?.titulo }}</div>
    <form [formGroup]="formularioCreacionFuncion" (ngSubmit)="crearFuncion()">
      <label>Fecha: <input class="seleccionable" type="date" formControlName="fecha"></label>
      <label>
        Formato:
        <select formControlName="formato">
          <option value="2D">2D</option>
          <option value="3D">3D</option>
          <option value="4D">4D</option>
          <option value="5D">5D</option>
        </select>
      </label>
      <label>
        Idioma:
        <select formControlName="idioma">
          <option value="Español">Español</option>
          <option value="Subtitulada">Subtitulada</option>
        </select>
      </label>
      <label>Hora: <input class="seleccionable" type="time" formControlName="hora"></label>
      <label>Precio: <input type="number" formControlName="precio"></label>
      <button type="submit">Crear función</button>
    </form>
  </div>
</ng-template>
<ng-template #plantillaCupones>
  <div class="plantilla-cupones">
    @for (cupon of cuponesDisponibles(); track cupon.id) {
      <div class="cupon">
        Nombre: <span class="nombre">{{  cupon.nombre }}</span>
        Descuento: <span class="descuento">{{ cupon.descuento }}</span>
        <label>Nuevo descuento: <input #nuevoDescuento type="number"></label>
        <button (click)="actualizarDescuentoCupon(cupon.nombre, nuevoDescuento.valueAsNumber)">Actualizar descuento</button>
      </div>
    } @if (cuponesDisponibles().length === 0) {<span>ayuda</span>}
  </div>
</ng-template>
<main>
  <div class="solapas">
    <button (click)="seleccionarPlantilla(plantillaPeliculas)">Películas</button>
    <button (click)="seleccionarPlantilla(plantillaFunciones)">Funciones</button>
    <button (click)="seleccionarPlantilla(plantillaCupones)">Cupones</button>
  </div>
  <div class="panel">
    <ng-container [ngTemplateOutlet]="plantillaSeleccionada()"/>
  </div>
</main>