div.solapas
  margin-top: 5px
  margin-left: 18px
  button
    background-color: var(--negro-jet)
    cursor: pointer
    padding: 5px
    border-radius: 10px 10px 0 0
    border: 1px solid var(--azul-helado)

div.panel
  border: 1px solid var(--azul-helado)
  border-radius: 20px
  margin-bottom: 5px

div.plantilla-peliculas
  display: flex
  flex-wrap: wrap
  gap: 14.9px
  padding: 10px

div.pelicula
  width: 140px
  height: 325px
  display: flex
  flex-direction: column
  align-items: center
  background-color: var(--gris-sombra)
  gap: 5px
  overflow: hidden
  border-radius: 10px
  border: 1px solid var(--azul-helado)
  button
    background-color: var(--negro-jet)
    border: none
    cursor: pointer
    margin: 5px 10px 10px 10px
    border-radius: 10px
  span
    font-size: 12px
    text-align: center
    &.duracion
      margin-top: auto

i.fa-check
  color: greenyellow
i.fa-xmark
  color: red

div.plantilla-funciones
  display: flex
  flex-direction: column

div.funcion
  display: flex
  span
    font-size: 12px
    text-align: center

div.poster
  width: 140px
  margin: 10px
  display: flex
  flex-direction: column
  gap: 5px
  background-color: var(--gris-sombra)
  border-radius: 10px
  overflow: hidden
  border: 1px solid var(--azul-helado)
  span
    padding: 2.5px

div.contenedor-horarios
  display: flex
  flex-direction: column
  padding: 10px
  gap: 10px
  flex: 1

div.cabecera-horarios
  display: flex
  gap: 10px
  button
    background-color: transparent
    border: 2px dotted var(--azul-helado)
    cursor: pointer
    flex: 1
    border-radius: 10px

div.horarios-funcion
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 10px

div.detalles-funcion
  display: flex
  gap: 7.9px
  background-color: var(--gris-sombra)
  padding: 10px
  justify-content: space-between
  border-radius: 10px
  border: 1px solid var(--azul-helado)
  span
    background-color: var(--negro-jet)
    padding: 5px 10px
    border-radius: 10px
    font-size: 12px

div.plantilla-crear-funcion
  display: flex
  flex-direction: column
  align-items: center
  gap: 10px
  padding: 10px

form
  display: flex
  gap: 10px
  font-size: 14px
  button
    background-color: var(--negro-jet)
    border: 1px solid var(--azul-helado)
    padding: 5px
    cursor: pointer
    border-radius: 10px

label
  background-color: var(--gris-sombra)
  padding: 5px
  border: 1px solid var(--azul-helado)
  border-radius: 10px
  display: flex
  align-items: baseline
  gap: 10px
  input, select
    background-color: var(--negro-jet)
    border: none
    padding: 5px
    text-align: center
    border-radius: 10px
    &.ng-invalid.ng-touched
      outline: 1px solid var(--algodon-azucar)
    &.precio
      width: 176px
  input.seleccionable
    cursor: text
  select
    cursor: pointer

div.plantilla-cupones
  display: flex
  flex-direction: column

div.cupon
  display: flex
  align-items: baseline
  justify-content: center
  margin: 10px
  gap: 10px
  font-size: 14px
  label
    padding: 5px
    background-color: var(--gris-sombra)
    span
      padding: 5px
      background-color: var(--negro-jet)
      border-radius: 10px
      &.nombre
        width: 222px
      &.descuento
        text-align: center
    input
      border-radius: 10px
      padding: 5px
      width: 30px
  button
    background-color: var(--negro-jet)
    padding: 10px
    cursor: pointer
    border-radius: 10px
    border: 1px solid var(--azul-helado)

div.plantilla-reportes
  display: flex
  flex-direction: column
  align-items: center

div.reporte
  display: flex
  flex-direction: column
  gap: 10px
  margin-bottom: 30px
  label
    background-color: var(--gris-sombra)
    border-radius: 10px
    border: 1px solid var(--azul-helado)
    span
      background-color: var(--negro-jet)
      border-radius: 10px
      padding: 5px
      text-align: center
      flex: 1