<ng-template #plantillaPeliculas>
  <div class="plantilla-peliculas">
    @for (pelicula of peliculasDisponibles(); track pelicula.id) {
      <div class="pelicula" [class.no-disponible]="!pelicula.disponible">
        <img
          (click)="seleccionarPelicula(pelicula); seleccionarPlantilla(plantillaModificarPelicula)"
          width="140"
          height="195"
          ngSrc="{{ pelicula.imagen }}"
          alt="Póster de una película"
        >
        <span>Título: {{ pelicula.titulo }}</span>
        <span class="duracion">Duración: {{ pelicula.duracion | duracion }}</span>
        <button
          [class.desactivar]="pelicula.disponible"
          [class.activar]="!pelicula.disponible"
          (click)="cambiarEstadoElemento('peliculas', pelicula.id, !pelicula.disponible)"
        >
          @if (pelicula.disponible) { Desactivar }
          @else { Activar }
        </button>
      </div>
    }
    <div class="pelicula nueva" (click)="seleccionarPlantilla(plantillaCrearPelicula)"><i class="fa-solid fa-plus"></i></div>
  </div>
</ng-template>
<ng-template #plantillaCrearPelicula>
  <app-crear-pelicula
    (peliculaCreada)="seleccionarPlantilla(plantillaPeliculas)"
    (cancelado)="seleccionarPlantilla(plantillaPeliculas)"
  />
</ng-template>
<ng-template #plantillaModificarPelicula>
  <app-modificar-pelicula
    [peliculaSeleccionada]="peliculaSeleccionada()"
    (peliculaModificada)="seleccionarPlantilla(plantillaPeliculas)"
    (cancelado)="seleccionarPlantilla(plantillaPeliculas)"
  />
</ng-template>
<ng-template #plantillaFunciones>
  <div class="plantilla-funciones">
    @for (pelicula of peliculasDisponibles(); track pelicula.id) {
      <div class="funcion">
        <div class="poster">
          <span>{{ pelicula.titulo }}</span>
          <img width="140" height="195" ngSrc="{{ pelicula.imagen }}" alt="Póster de una película">
        </div>
        <div class="contenedor-horarios">
          <div class="cabecera-horarios">
            @if (obtenerFuncionesPelicula(pelicula.id).length === 0) { <span>No hay funciones programadas aún</span> }
            @else { <span>Fechas y Horarios</span> }
            <button (click)="seleccionarPelicula(pelicula); seleccionarPlantilla(plantillaCrearFuncion)"><i class="fa-solid fa-plus"></i></button>
          </div>
          <div class="horarios-funcion">
            @for (funcion of obtenerFuncionesPelicula(pelicula.id); track funcion.id) {
              <div class="detalles-funcion" [class.no-disponible]="!funcion.disponible">
                <div
                  class="datos-funcion"
                  (click)="seleccionarPelicula(pelicula); seleccionarFuncion(funcion); seleccionarPlantilla(plantillaModificarFuncion)"
                >
                  <span>{{ funcion.fecha_hora | date: 'EEE d' | titlecase }} {{ funcion.fecha_hora | date: 'shortTime' }}</span>
                  <span>{{ funcion.formato }} - {{ funcion.idioma }}</span>
                  <span>Sala {{ funcion.sala_id }}</span>
                  <span>{{ funcion.precio | currency: 'ARS': '$ ': '1.0-0' }}</span>
                  <span>{{ funcion.precio_puntos }} pts</span>
                </div>
                <button
                  class="boton-accion-funcion"
                  [class.desactivar]="funcion.disponible"
                  [class.activar]="!funcion.disponible"
                  [title]="funcion.disponible ? 'Desactivar función' : 'Activar función'"
                  (click)="cambiarEstadoElemento('funciones', funcion.id, !funcion.disponible)"
                >
                  @if (funcion.disponible) { <i class="fa-solid fa-trash"></i> }
                  @else { <i class="fa-solid fa-check"></i> }
                </button>
              </div>
            }
          </div>
        </div>
      </div>
    }
  </div>
</ng-template>
<ng-template #plantillaCrearFuncion>
  <app-crear-funcion
    [peliculaSeleccionada]="peliculaSeleccionada()"
    (funcionCreada)="seleccionarPlantilla(plantillaFunciones)"
    (cancelado)="seleccionarPlantilla(plantillaFunciones)"
  />
</ng-template>
<ng-template #plantillaModificarFuncion>
  <app-modificar-funcion
    [peliculaSeleccionada]="peliculaSeleccionada()"
    [funcionSeleccionada]="funcionSeleccionada()"
    (funcionModificada)="seleccionarPlantilla(plantillaFunciones)"
    (cancelado)="seleccionarPlantilla(plantillaFunciones)"
  />
</ng-template>
<ng-template #plantillaCandybar>
  <div class="plantilla-candybar">
    @for (producto of productosDisponibles(); track producto.id) {
      <div class="producto" [class.no-disponible]="!producto.disponible">
        <img
          (click)="seleccionarProducto(producto); seleccionarPlantilla(plantillaModificarProducto)"
          width="140"
          height="195"
          ngSrc="{{ producto.imagen }}"
          alt="Imagen de un producto del candybar"
        >
        <span>Nombre: {{ producto.nombre }}</span>
        <span>Categoría: {{ producto.categoria }}</span>
        <button
          [class.desactivar]="producto.disponible"
          [class.activar]="!producto.disponible"
          (click)="cambiarEstadoElemento('candybar', producto.id, !producto.disponible)"
        >
          @if (producto.disponible) { Desactivar }
          @else { Activar }
        </button>
      </div>
    }
    <div class="producto nuevo" (click)="seleccionarPlantilla(plantillaCrearProducto)">
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>
</ng-template>
<ng-template #plantillaCrearProducto>
  <app-crear-producto
    (productoCreado)="seleccionarPlantilla(plantillaCandybar)"
    (cancelado)="seleccionarPlantilla(plantillaCandybar)"
  />
</ng-template>
<ng-template #plantillaModificarProducto>
  <app-modificar-producto
    [productoSeleccionado]="productosSeleccionado()"
    (productoModificado)="seleccionarPlantilla(plantillaCandybar)"
    (cancelado)="seleccionarPlantilla(plantillaCandybar)"
  />
</ng-template>
<ng-template #plantillaCupones>
  <div class="plantilla-cupones">
    @for (cupon of cuponesDisponibles(); track cupon.id) {
      <div class="cupon" [class.no-disponible]="!cupon.disponible">
        <label>Nombre: <input #inputNombre type="text" class="input-nombre" [value]="cupon.nombre"></label>
        <label>Descuento: <input #inputDescuento type="number" class="input-descuento" [value]="cupon.descuento"></label>
        <button class="boton-actualizar-cupon" (click)="actualizarCupon(cupon, inputNombre.value, inputDescuento.value)">Actualizar cupón</button>
        <button class="boton-otorgar-cupon" (click)="seleccionarCupon(cupon); seleccionarPlantilla(plantillaOtorgarCupon)">Otorgar</button>
        <button
          class="boton-accion-cupon"
          [class.desactivar]="cupon.disponible"
          [class.activar]="!cupon.disponible"
          [title]="cupon.disponible ? 'Desactivar cupón' : 'Activar cupón'"
          (click)="cambiarEstadoElemento('cupones', cupon.id, !cupon.disponible)"
        >
          @if (cupon.disponible) { <i class="fa-solid fa-trash"></i> }
          @else { <i class="fa-solid fa-check"></i> }
        </button>
      </div>
    }
    <div class="cupon nuevo" (click)="seleccionarPlantilla(plantillaCrearCupon)">
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>
</ng-template>
<ng-template #plantillaCrearCupon>
  <app-crear-cupon
    (cuponCreado)="seleccionarPlantilla(plantillaCupones)"
    (cancelado)="seleccionarPlantilla(plantillaCupones)"
  />
</ng-template>
<ng-template #plantillaOtorgarCupon>
  <app-otorgar-cupon
    [cuponSeleccionado]="cuponSeleccionado()"
    (volver)="seleccionarPlantilla(plantillaCupones)"
  />
</ng-template>
<ng-template #plantillaReportes>
  <div class="plantilla-reportes">
    <h2>Reporte de Ventas Diario</h2>
    <div class="reporte">
      <label>Facturación: <span>{{ facturacionDiaria() | currency: 'ARS': '$ ': '1.0-0'  }}</span></label>
      <label>Entradas vendidas: <span class="entradas-vendidas">{{ entradasVendidasDiarias() }}</span></label>
    </div>
  </div>
</ng-template>
<main>
  <div class="solapas">
    <button (click)="seleccionarPlantilla(plantillaPeliculas)">Películas</button>
    <button (click)="seleccionarPlantilla(plantillaFunciones)">Funciones</button>
    <button (click)="seleccionarPlantilla(plantillaCandybar)">Candybar</button>
    <button (click)="seleccionarPlantilla(plantillaCupones)">Cupones</button>
    <button (click)="seleccionarPlantilla(plantillaReportes)">Reportes</button>
  </div>
  <div class="panel"><ng-container [ngTemplateOutlet]="plantillaSeleccionada()"/></div>
</main>