div.cabecera-cartelera
  display: flex
  justify-content: center
  align-items: center
  input
    position: absolute
    margin-left: 700px
    background-color: var(--negro-jet)
    border: 2px solid transparent
    border-radius: 5px
    padding: 2px 2px 2px 2px
    margin-right: 100px
    width: 250px
  select
    position: absolute
    margin-left: 1020px
    background-color: var(--negro-jet)
    border: 2px solid transparent
    border-radius: 5px
    padding: 2px 2px 2px 2px

div.cartelera
  display: flex
  justify-content: center
  flex-wrap: wrap