div.cabecera-cartelera
  display: flex
  justify-content: center
  align-items: center
  input
    position: absolute
    margin-left: 970px
    background-color: var(--negro-jet)
    border: 2px solid transparent
    border-radius: 5px
    padding: 2px 2px 2px 2px
    margin-right: 75px
    width: 250px

div.cartelera
  display: flex
  justify-content: center
  flex-wrap: wrap