nav
  div
    position: fixed
    display: flex
    justify-content: space-around
    align-items: center
    width: 100%
    background-color: var(--negro)
    border-bottom: 1px solid var(--gris)
    button
      background-color: var(--negro)
      border: none
      font-size: 20px
      color: var(--blanco)
      cursor: pointer