nav
  div.accesos-directos
    position: fixed
    display: grid
    grid-auto-flow: column
    grid-auto-columns: 1fr
    place-items: center
    z-index: 100
    width: 100%
    background-color: var(--negro-tinta)
    border-bottom: 1px solid var(--azul-helado)
    div.logo
      display: flex
      align-items: center
      img
        user-select: none
      h1
        color: var(--azul-helado)
    h1
      user-select: none
      font-size: 24px
    a
      text-decoration: none