nav
  div
    position: fixed
    display: flex
    justify-content: space-around
    align-items: center
    width: 100%
    background-color: var(--negro-tinta)
    border-bottom: 1px solid var(--negro-jet)
    h1
      user-select: none
    a
      font-size: 17.5px
      color: var(--blanco)
      text-decoration: none