main
  div.selector-butacas
    display: flex
    flex-direction: column
    align-items: center

div.butacas-y-boton-compra
  display: flex
  flex-direction: column
  align-items: center
  button.compra
    padding: 10px 20px
    border: none
    border-radius: 5px
    margin-bottom: 30px
    background-color: var(--negro-jet)
    color: var(--blanco)
    font-weight: bold
    visibility: hidden
    &.visible
      visibility: visible
      cursor: pointer

div.leyenda
  display: flex
  justify-content: center
  gap: 30px
  margin-bottom: 25px
  div
    display: flex
    align-items: center
    gap: 5px
    span
      font-size: 15px
      color: var(--blanco)
      font-weight: lighter
      user-select: none
    button
      width: 22px
      height: 22px
      border: none
      border-radius: 5px
      background-color: var(--negro-jet)
      &.ocupada
        background-color: var(--algodon-azucar)
      &.seleccionado
        background-color: var(--azul-helado)

div.filas
  display: flex
  flex-direction: column
  align-items: center
  border-radius: 10px
  background-color: var(--gris-sombra)
  padding: 0 15px 15px 15px
  margin-bottom: 30px
  div.columnas
    display: flex
    align-items: baseline
    gap: 20px
    span
      width: 18px
      text-align: center
      font-weight: lighter
    div.butacas
      display: flex
      margin: 7px 7px 0 0
      div
        display: flex
        flex-direction: column
        margin: 3px
        button
          cursor: pointer
          background-color: var(--negro-jet)
          border: none
          color: var(--blanco)
          border-radius: 5px
          width: 25px
          height: 25px
          padding: 0
          font-weight: bold
          &.ocupada
            background-color: var(--algodon-azucar)
            color: var(--negro-tinta)
            cursor: not-allowed
          &.seleccionado
            background-color: var(--azul-helado)
            color: var(--negro-tinta)