main
  display: flex
  justify-content: space-around
  align-items: baseline

div
  display: flex
  flex-direction: column
  align-items: center

div.poster
  width: 210px
  height: 310px
  margin: 10px 15px 45px 10px
  border-radius: 10px
  overflow: hidden