main
  display: flex
  justify-content: center
  align-items: baseline
  margin-left: 100px

div
  display: flex
  flex-direction: column
  align-items: start

div.detalle-pelicula
  display: flex
  flex-direction: row
  margin: 0

h1
  margin-left: 10px

div.sinopsis
  width: 300px
  margin: 0 10px 10px 10px
  h2
    margin: 5px 0 10px 0

div.poster
  width: 210px
  height: 310px
  margin: 10px 15px 45px 10px
  border-radius: 10px
  overflow: hidden