@if (peliculaService.peliculaSeleccionada(); as peliculaActual) {
  <main>
    <div>
      <div><h1>{{ peliculaActual.titulo }}</h1></div>
      <div class="detalle-pelicula">
        <div class="poster">
          <img
            width="210"
            height="310"
            ngSrc="{{ peliculaActual.imagen }}"
            alt="Póster de una película"
            (error)="peliculaActual.imagen = 'poster-no-encontrado.jpg'"
          >
        </div>
        <div>
          <div class="elemento-detalle-pelicula">
            <h2>Calificación promedio</h2>
            <div class="resenia">
              @if (peliculaActual.puntuacion_promedio) {
                @for (estrella of this.reseniaService.estrellas(); track $index) {
                  @if (estrella <= peliculaActual.puntuacion_promedio) {
                    <i class="fa-solid fa-star"></i>
                  } @else {
                    <i class="fa-regular fa-star"></i>
                  }
                }
              } @else {
                <span>Sin reseñas</span>
              }
              <button routerLink="/reseña">Ver reseñas</button>
            </div>
          </div>
          <div class="elemento-detalle-pelicula">
            <h2>Sinopsis</h2>
            {{ peliculaActual.sinopsis }}
          </div>
        </div>
      </div>
    </div>
    <div><app-funciones/></div>
  </main>
}