main
  display: flex
  justify-content: center
  align-items: baseline
  margin-left: 100px

div
  display: flex
  flex-direction: column
  align-items: start

div.detalle-pelicula
  display: flex
  flex-direction: row
  margin: 0

h1
  margin: 21.44px 50px 11px 0

div.elemento-detalle-pelicula
  width: 300px
  margin: 0 10px 10px 10px
  h2
    margin: 5px 0 10px 0

div.resenia
  display: flex
  flex-direction: row
  align-items: baseline
  i.fa-solid
    color: var(--naranja)
  i.fa-regular
    color: var(--negro-jet)
  button
    margin-left: 50px
    background-color: var(--negro-jet)
    border: none
    border-radius: 5px
    padding: 5px
    cursor: pointer

div.poster
  width: 210px
  height: 310px
  margin: 10px 15px 45px 10px
  border-radius: 10px
  overflow: hidden