main
  div
    h2
      margin: 8px
  section
    display: flex
    justify-content: center
    form
      background-color: var(--gris-sombra)
      border: 1px solid var(--azul-helado)
      border-radius: 10px
      padding: 5px
      width: 530px
      display: flex
      flex-direction: column
      margin: 10px
      label
        display: flex
        justify-content: space-between
        align-items: baseline
        margin: 4px 8px
        user-select: none
        border: 1px solid var(--azul-helado)
        border-radius: 5px
        padding: 5px
        input, select
          width: 228px
          background-color: var(--negro-jet)
          border: none
          border-radius: 5px
          padding: 5px
          &.ng-invalid.ng-touched
            border: 1px solid var(--algodon-azucar)
        input.fecha, select
          cursor: pointer
      button
        background-color: var(--negro-jet)
        border: 1px solid var(--azul-helado)
        border-radius: 5px
        margin: 5px 8px 5px 8px
        padding: 5px
        cursor: pointer

div.botones
  display: flex
  justify-content: center
  button
    flex: 1