section
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 10px
  margin-bottom: 15px
  h2
    font-size: 20px
    margin-bottom: 15px
  ul
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 15px
    padding: 0
    margin: 0
    list-style: none
    li
      display: flex
      align-items: center
      gap: 12px
      background-color: var(--gris-sombra)
      padding: 10px
      border-radius: 10px
      border: 1px solid var(--azul-helado)
      width: 370px
      img
        border-radius: 5px
        object-fit: cover
      div.info-compra
        display: flex
        flex-direction: column
        gap: 4px
        span.titulo-pelicula
          font-size: 16px
          font-weight: bold
        span.fecha-compra
          font-size: 13px
        div
          margin-top: 4px
          span.calificacion
            font-size: 13px
          span.estrellas
            font-size: 13px
            i
              color: var(--naranja)
          p
            font-size: 12px
            margin: 2px 0 0 0