<section>
  <div>
    <div>
      <h3>Fechas</h3>
      <div class="div-fechas">
        @for (fecha of fechasDisponibles(); track $index) {
          <button class="boton-fechas" [class.seleccionado]="fechaSeleccionada() === fecha" (click)="seleccionarFecha(fecha)">{{ fecha | date: "EEE d" | titlecase }}</button>
        }
      </div>
    </div>
    <div>
      <h3>Formatos</h3>
      <div>
        @for (formato of formatosDisponibles(); track $index) {
          <button [class.seleccionado]="formatoSeleccionado() == formato" (click)="seleccionarFormato(formato)">{{ formato }}</button>
        }
      </div>

    </div>
    <div>
      <h3>Idiomas</h3>
      <div>
        @for (idioma of idiomasDisponibles(); track $index) {
          <button [class.seleccionado]="idiomaSeleccionado() == idioma" (click)="seleccionarIdioma(idioma)">{{ idioma }}</button>
        }
      </div>
    </div>
    <div class="seccion-compra">
      <div>
        <h3>Horarios</h3>
        <div>
          @for (horario of horariosDisponibles(); track $index) {
            <button [class.seleccionado]="horarioSeleccionado() == horario" (click)="seleccionarHorario(horario)">{{ horario | date: "shortTime" }}</button>
          }
        </div>
      </div>
      <div>
        <button
          class="compra"
          [class.visible]="fechaSeleccionada() && formatoSeleccionado() && idiomaSeleccionado() && horarioSeleccionado()"
          routerLink="/compra"
        >Comprar entradas
        </button>
      </div>
    </div>
  </div>
</section>