main
  display: flex
  flex-direction: column
  align-items: center
  h2
    margin: 0 0 30px 0
  div
    overflow: hidden
    border-radius: 10px

div.categoria
  display: flex
  justify-content: center
  flex-wrap: wrap
  &.combos
    width: 89%
    justify-content: space-evenly

div.producto
  width: 235px
  display: flex
  flex-direction: column
  align-items: center
  margin: 10px 15px 45px 10px
  background-color: var(--gris-sombra)
  border: 1px solid var(--azul-helado)
  &.combo
    width: 290px
    border: 1px solid var(--naranja)
  h3
    font-size: 16px
    text-align: center
  img
    width: 100%
    object-fit: cover
    border-bottom: 1px solid var(--azul-helado)
    &.combo
      border-bottom: 1px solid var(--naranja)
  span.combo
    color: var(--naranja)

div.seleccion-productos
  display: flex
  align-items: baseline
  span
    width: 20px
    height: 20px
    text-align: center

button.compra
  position: fixed
  cursor: pointer
  border-radius: 5px
  border: 1px solid var(--azul-helado)
  background-color: var(--negro-jet)
  margin: 35px 0 0 1140px
  width: 80px
  height: 40px

button.operador
  width: 40px
  height: 40px
  cursor: pointer
  border-radius: 5px
  border: 1px solid var(--azul-helado)
  background-color: var(--negro-jet)
  margin: 10px 10px 25px 10px
  &.combo
    border: 1px solid var(--naranja)