main
  display: flex
  flex-direction: column
  align-items: center

div.pagina-entradas
  display: flex
  flex-direction: column
  align-items: center

div.entradas
  display: flex
  flex-wrap: wrap
  margin: 30px 30px 0 30px
  gap: 8px
  justify-content: center

div.pdf
  width: 230px
  display: flex
  flex-direction: column
  align-items: center
  margin: 0 0 25px 0
  padding: 10px
  border-radius: 10px
  background-color: var(--gris-sombra)
  break-inside: avoid
  page-break-inside: avoid
  span, img
    margin: auto 0 5px 0

button
  padding: 5px 10px
  border: none
  border-radius: 5px
  background-color: var(--negro-jet)
  color: var(--blanco)
  cursor: pointer

span.qr
  font-weight: lighter
  font-size: 12px
  text-align: center

@media print
  div.pdf
    margin: 40px auto 25px auto