:root
  --negro-tinta:  #0C0E14
  --gris-sombra: #171B26
  --negro-jet: #2D3543
  --blanco: #FFFFFF
  --azul-helado: #A0E6EE

body
  margin: 0
  background-color: var(--negro-tinta)
  color: var(--blanco)

main
  padding-top: 100px