:root
  --negro-tinta:  #0C0E14
  --gris-sombra: #171B26
  --negro-jet: #2D3543
  --blanco: #FFFFFF
  --azul-helado: #A0E6EE
  --algodon-azucar: #ED9F9F

*
  color-scheme: dark
  font-family: poppins, sans-serif

html
  scrollbar-gutter: stable

body
  margin: 0
  background-color: var(--negro-tinta)

main
  padding-top: 100px

input, select
  box-sizing: border-box

.titulo
  display: flex
  justify-content: center
  user-select: none

::-webkit-inner-spin-button, ::-webkit-outer-spin-button
  -webkit-appearance: none