<section>
  <div class="componente-puntos">
    <div class="contenedor-puntos">
      <h2>Puntos Disponibles: <span>{{ puntosDisponibles() }}</span></h2>
    </div>
    <div class="contenedor-historial">
      @if (entradasCanjeadas().length > 0 || productosCanjeados().length > 0) {
        <h2>Historial de Canjes</h2>
        @if (entradasCanjeadas().length > 0) {
          <h3>Entradas Canjeadas</h3>
          <ul>
            @for (entradaCanjeada of entradasCanjeadas(); track $index) {
              <li>
                <label>Sala: <span>{{ entradaCanjeada.funciones.sala_id }}</span></label>
                <label>Título: <span>{{ entradaCanjeada.funciones.peliculas.titulo }}</span></label>
                <label>Fecha: <span>{{ entradaCanjeada.funciones.fecha_hora  | date: "dd/M/yyyy" }}</span></label>
                <label>Butacas: <span>Fila {{ entradaCanjeada.butaca.slice(0, 1) }}, butaca {{ entradaCanjeada.butaca.slice(1) }}</span></label>
                <label>Estado: <span
                  [class.disponible]="entradaCanjeada.valida"
                  [class.canjeado]="!entradaCanjeada.valida"
                >{{ entradaCanjeada.valida ? "Disponible" : "Canjeado" }}
                </span></label>
                <img
                  ngSrc="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ entradaCanjeada.codigo_qr }}"
                  height="150"
                  width="150"
                  alt="Código QR"
                >
                <span class="qr">{{ entradaCanjeada.codigo_qr }}</span>
              </li>
            }
          </ul>
        }
        @if (productosCanjeados().length > 0) {
          <h3>Productos del Candybar Canjeados</h3>
          <ul>
            @for (productoCanjeado of productosCanjeados(); track $index) {
              <li>
                <label>Descripción: <span>{{ productoCanjeado.descripcion }}</span></label>
                <label>Estado: <span
                  [class.disponible]="productoCanjeado.valida"
                  [class.canjeado]="!productoCanjeado.valida"
                >{{ productoCanjeado.valida ? "Disponible" : "Canjeado" }}
                </span></label>
                <img
                  ngSrc="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ productoCanjeado.codigo_qr }}"
                  height="150"
                  width="150"
                  alt="Código QR"
                >
                <span class="qr">{{ productoCanjeado.codigo_qr }}</span>
              </li>
            }
          </ul>
        }
      }
    </div>
  </div>
</section>