<main>
  <div class="selector-butacas">
    <h1 class="titulo">Seleccioná tus butacas</h1>
    <div class="butacas-y-boton-compra">
      <div class="filas">
        <h2>Pantalla</h2>
        @for (fila of filas(); track fila) {
          <div class="columnas">
            <span>{{ fila }}</span>
            @for (columna of (fila === "J" ? columnasAccesibles() : columnasRegulares()); track $index) {
              <div class="butacas" [class.central]="$index === 1">
                @for (numero of columna; track numero) {
                  @if (fila !== "K") {
                    <div>
                      <button
                        [class.accesible]="fila === 'J'"
                        [class.vip]="fila === 'R' || fila === 'S' || fila === 'T'"
                        [class.ocupada]="butacasOcupadas().includes(fila + numero)"
                        [class.seleccionado]="butacasSeleccionadas().includes(fila + numero)"
                        (click)="seleccionarButaca(fila + numero)">{{ numero }}
                      </button>
                    </div>
                  } @else { <div class="fila-accesible"><button></button></div> }
                }
              </div>
            }
          </div>
        }
      </div>
      <div class="leyenda">
        <div>
          <button disabled></button>
          <span>Libre</span>
        </div>
        <div>
          <button disabled class="ocupada"></button>
          <span>Ocupada</span>
        </div>
        <div>
          <button disabled class="seleccionado"></button>
          <span>Seleccionada</span>
        </div>
        <div>
          <button disabled class="accesible"></button>
          <span>Accesible</span>
        </div>
        <div>
          <button disabled class="vip"></button>
          <span>V.I.P.</span>
        </div>
      </div>
      <button class="compra oculto" [class.visible]="butacasSeleccionadas().length > 0" (click)="abrirModalCompra()">Confirmar compra</button>
    </div>
  </div>
  @if (mostrarModalCompra()) {
    <app-modal-compra
      etiquetaElementos="Butacas seleccionadas"
      [elementos]="butacasSeleccionadas().join(', ')"
      [totalPesos]="entradaService.calcularTotalEntradas(butacasSeleccionadas())"
      [totalPuntos]="entradaService.calcularTotalEntradas(butacasSeleccionadas(), true)"
      (cerrar)="cerrarModalCompra()"
      (confirmar)="finalizarCompra($event)"
    />
  }
</main>