div.contenedor-formulario
  display: flex
  flex-direction: column
  align-items: center
  gap: 8px
  padding: 10px 20px
  h3
    margin: 0
    font-size: 16px
  form
    display: flex
    flex-direction: column
    gap: 10px
    width: 650px
    div.columnas-formulario
      display: grid
      grid-template-columns: 1fr 1fr
      gap: 10px 15px
    div.columna
      display: flex
      flex-direction: column
      &.izquierda
        gap: 10px
      &.derecha
        justify-content: space-between
    label
      display: flex
      flex-direction: column
      gap: 4px
      background-color: var(--gris-sombra)
      padding: 5px 9px
      border: 1px solid var(--azul-helado)
      border-radius: 10px
      font-size: 12px
      &.ancho-completo
        grid-column: span 2
      input, textarea, select
        background-color: var(--negro-jet)
        border: none
        border-radius: 6px
        padding: 5px 8px
        color: white
        font-family: inherit
        font-size: 12px
      select
        cursor: pointer
      textarea
        resize: none
        height: 58px